name: Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Build the docker-compose stack
        run: docker-compose -f docker-compose.yml up -d
      - name: Check running containers
        run: docker ps -a
      - name: Check logs
        run: docker logs yii2-import
      - name: Install dependencies
        run: docker-compose exec -T application composer install
      - name: Run test suite
        run: docker-compose exec -T application vendor/bin/codecept run
      - name: Check supervisor logs
        run: cat tests/supervisor/log/*.log
